.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
    margin-top: 10px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
}

.cardTitle {
  font-size: 18px;
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  font-size: 14px;
  color: #666;
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardPrice {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.cardPriceFavContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heartImage {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.heartFavorited {
 fill: red;
}

.loading, .error {
  font-size: 18px;
  color: #333;
}
